*.userprefs
*.unityproj
*.pidb
*.svd
*.suo
*.sdf
*.opendb
*.opensdf
*.user
*.booproj
*.unitypackage
*.unitypackage.meta

/Library
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp
ExportedObj/
Temp/
xcuserdata

*~
*.swp
*.Trashes
.vs

ehthumbs.db
Thumbs.db

.DS_Store
.DS_Store?
